*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    color: #314163;
    height: 100vh;
}

/*Menu*/
nav{
    background-color: #0079c1;
    display: block;
    margin: auto;
    padding: 15px;
    font-weight: bold;
}

.navbar-light .navbar-nav{
    margin-top: 5px;
    float: left;
    padding-left: 15px;
    margin-left: 140px;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;    
    display: block;
    color: white;
    font-size: 20px;
    
}

.navbar-light .navbar-brand{
    float: left;
    margin-left: 490px;
}

/*Descrição da Vaga*/
h1{
    font-weight: bold;
    font-size: 50px;
    margin: 50px auto 35px auto;
}

h2{
    font-size: 26px;
    margin: 20px auto 20px auto;
    font-weight: bold;
}

#voltar{
    margin: 50px auto 50px auto;
    font-size: 22px;
}

#titulo_vaga{
    font-size: 35px;
    font-weight: bold;
}

#subtitulo{
    font-size: 22px;
    margin: 30px auto 10px auto;
    font-weight: bold;
}

section{
    font-family: 'PT Serif', serif;
}


/*Formulário*/


#box_form{
    background-color: #e8f8ff;
    width: 490px;
    height: 827px;
    float: left;
    margin-top: 30px;
}

#form{
    width: 457px;
    height: 745px;
    border: 1px solid #314163;
    margin-top: 15px;
    margin-left: 15px;
}


label{
    margin: 10px auto 10px auto;
    font-size: 22px;
    font-weight: bold;
}

.form-control{
    width: 422px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid #314163;
    background-color: #e8f8ff;
}

#form-end{
   padding-left: 5px;
}

#box_small_left{
    margin-right: 15px;
    padding-left: 5px;
    width: 173px;
    height: 33px;   
}

#box_small_right{
    padding-left: 5px;
    width: 234px;
    height: 33px;
}

#text_upload{
    font-size: 14px;
    font-weight: lighter;
    margin: auto 80px auto 10px;
}

button{
    font-size: 20px;
    width: 165px;
    height: 40px;
    background-color: #314163;
    color: white;
}

#envio{
    margin-top: 10px;
    float: right;
}

#anexo{
    background-color:#4A85AF;
    padding-left: 5px;
}

#label_curriculo{
    margin: 45px auto 12px auto;
    font-size: 22px;
}

/*Rodapé*/
footer{
    height: 50px;
	width:100%;
	clear:both;
	padding-top:0px;
    line-height: 100px;
    background-color: #0079c1;
}

.img_rodape{
    float: left;
    width: 131px;
    height: 19px;
    margin-top: 20px;
    margin-left: 490px;
}

#copyright{
    margin-top: -20px;
    font-size: 11px;
    margin-right: 250px;
    color: #FFF;
}

/*Position*/
.right{
    width: 290px;
    height: 1590px;
    background-color: #314163;
    margin-top: 127px;
    margin-bottom: 127px;
    overflow: hidden;
    display: inline-block;
}

.box_img{
    width: 390px;
    height: 390px;
    position: absolute;
    top: 60%;
    left: 1007px;
}

.img_vagas {
    width: 390px;
    height: 390px;
}

.left{
    float: left;
    margin-left: 490px;
    margin-right: 160px;
    margin-top: 0px;
    width: 490px;
}