body{
    font-family: 'Oswald', sans-serif;
    color: #314163;
}


#container {
    height: 100%;
}

/*Menu*/
nav{
    background-color: #0079c1;
    font-family: 'Oswald', sans-serif;
    display: block;
    margin: auto;
    padding: 15px;
   
}

.navbar-light .navbar-nav{
    margin-top: 5px;
    float: left;
    margin-left: 250px;
    padding-left: 15px;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFFFFF;    
    display: block;
    color: white;
    font-size: 20px;
}

.navbar-light .navbar-brand{
    float: right;
    margin-left: 180px
}

/*Descrição da Vaga*/

#conteudo{
   margin-left: 490px;
   position: relative;
   height: 100%;
}

#cont-esq{
    position: absolute;
    float:left;
    overflow: hidden;
}

#cont-dir{
    background-color: #314163;
    width: 290px;
    height: 1590px;
    margin-top: 127px;
    position: relative;
    float:right;
    margin-left: 160px;
    overflow: hidden;
    
}

.img_vagas {
    width: 390px;
    height: 390px;
    margin-top: 300px;
    border:1px solid red;
    margin-right: -60%;
    overflow:hidden
}

h1{
    font-weight: bold;
    font-size: 50px;
    margin: 50px auto 35px auto;
}

#voltar{
    margin: 50px auto 50px auto;
    font-size: 22px;
}

#titulo_vaga{
    font-size: 35px;
    font-weight: bold;
}

#subtitulo{
    font-size: 22px;
    margin-top: 30px auto 10px auto;
    font-weight: bold;
}

section{
    font-family: 'PT Serif', serif;
}

h2{
    font-size: 26px;
    margin: 20px auto 20px auto;
    font-weight: bold;
}


/*Formulário*/


#formulario{
    background-color: #e8f8ff;
    width: 490px;
    height: 827px;
    margin-top: 30px;
    overflow:hidden;

}

#form{
    width: 457px;
    height: 745px;
    border: 1px solid #314163;
    margin-top: 15px;
    margin-left: 15px;
}


label{
    margin: 10px auto 10px auto;
    font-size: 22px;
    font-weight: bold;
}

.form-control{
    width: 422px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid #314163;
    background-color: #e8f8ff;
}

#box_small_left{
    margin-right: 15px;
    width: 173px;
    height: 33px;   
}

#box_small_right{
    width: 234px;
    height: 33px;
}

#text_upload{
    font-size: 14px;
    font-weight: lighter;
    margin: auto 80px auto 10px;
}

button{
    font-size: 20px;
    width: 165px;
    height: 40px;
    background-color: #314163;
    color: white;
}

#envio{
    float: right;
}

#anexo{
    background-color:#4A85AF;
}

#label_curriculo{
    margin: 45px auto 12px auto;
    font-size: 22px;
}

/*Rodapé*/
footer{
	margin-top:0px;
	width:100%;
	height:60px;
	clear:both;
	padding-top:0px;
    line-height: 100px;
    background-color: #0079c1;
}


